<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link CSS Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- Scripst javascript -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Kompresi Video</title>
  </head>
  <body>
    <div class="container mt-3">
      <div class="card border-black">
        <div
          class="card-header"
          style="background-color: rgba(147, 194, 249, 0.653)"
        >
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"
                >KOMPRESI VIDEO</a
              >
            </div>
          </nav>
        </div>
        <div class="card-body">
          <div class="text-center">
            <h2 class="card-title">Kompresi Video</h2>
            <p class="mb-5">Kompresi File Video dengan sekali Klik! Tunggu apa lagi ayo konversi file videomu agar tidak memenuhi ruang penyimpanan perangkatmu😉</p>
          </div>
            <div class="my-3">
              <form action="/video" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <label for="video" class="form-label"><h5>Upload Video</h5></label>
                  <input name="video" class="form-control" type="file" accept="video/*" id="video">
                </div>
                <div class="my-3">
                  <button type="submit" class="btn btn-primary">Kompres Video</button>
                </div>
              </form>
            </div>
          <div class="my-3">
            {% if compressed_video %}
            <h5 class="card-title">Hasil</h5>
            <p>Ukuran sebelum dikompresi: {{ original_size }} MB</p>
            <p>ukuran setelah dikompresi: {{ compressed_size }} MB</p>
            <a class="btn btn-success" href="static/compressed_video.mp4" download="static/compressed_video.mp4">Download</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Script Javascript -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>